h2 {
  width: 100%;
  font-size: 1.2em;
  padding-top: 10px;
  color: #9dae21;
  display: flex;
}
h2:before,
h2:after {
  color: rgb(77, 77, 77);
  content: "";
  flex: 1;
  border-bottom: solid 1px;
  margin: auto 0.25em;
}
